<footer class="site-footer">
  <p class="site-footer-name">{{ association.name }}</p>
  <p>{{ association.address | nl2br | safe }}</p>
  <p><a href="mailto:{{ association.email }}">{{ association.email }}</a></p>
</footer>
